html {
    height: 100%;
}
body {
    background-image: url('../assets/village_background.png');
    height: 100%;
    background-size: cover;
}

.main-container-fluid {
    height: 100%;
}

.pad-row {
    height: 33%;
}

input {
    width: 100%;
}

form {
    padding: 0 15px;
}
