body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/MinecraftDirtBackground.jpg');
    height: 100%;
    background-size: cover;
}

img {
    margin: auto;
    margin-top: 2%;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

button {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #6F3326;
    color: white;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 4px;
    text-decoration: none;
}

button:hover {
    background-color: #58281E;
}

table {
    border-collapse: collapse;
    text-align: center;
    background-color: #72B04E;
    color: #58281E;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

footer {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

p {
    color: white;
}

#username-display {
    color: white;
    font-size: 20px;
}

#player-info {
    height: 40px;
}

a:link, a:visited {
    background-color: #6F3326;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 4px;
}
  
a:hover, a:active {
    background-color: #58281E;
}
